body {
    text-align: center;
}

#main {
    text-align: left;
    width: 1000px;
    margin: 0 auto;
}

.conditionEditor {
    background-color: ivory;
    border-radius: 2px;
    padding: 2px;
}

.gh-star {
    float: right;
    margin-top: -30px;
}
.language {
    float: left;
    margin-left: 750px;
    margin-top: -30px;
}
.notice {
    color: red;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.hint {
}

.hint ul {
    margin-left: -15px;
}

#app-version {
    display: inline;
}